.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

label {
  margin: 1em;
  font-size: 2em;
}

input[type='file'] {
  margin: 0.5em;
  border: 2px solid black;
  padding: 0.2em;
  font-size: 1em;
}

button {
  font-size: 1em;
}

img {
  padding: 0.3em;
}

#flex {
  display: Inline-flex;
  border: 2px solid black;
  align-items: center;
  width: fit-content;
}

#button {
  font-size: 1em;
}
#p{
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}
